
:root {
    --unit: 1px;
    --value-size: 40;
    --value-count: 20;
    --size-cell: calc(var(--value-size) * var(--unit));
    --mult-size: calc(var(--value-count) * var(--size-cell));
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.game {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    border: 3px solid white;
    height: var(--mult-size);
    width: var(--mult-size);
}

.game div {
    width: var(--size-cell);
    height: var(--size-cell);
}

.enemy {
    background-color: red;
    border-radius: 50%;
}

.player {
    background-color: greenyellow;
    border-radius: 50% 50% 50% 50% / 100% 100% 0 0;
}
.bullet {
    background: linear-gradient(90deg, rgb(0, 0, 0, 1) 45%,rgb(200, 200, 10) 50%,rgb(0, 0, 0, 1) 55%);
}